<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button type="button" class="btn btn-success"><a onclick="window.location.href = '/alun';">Lista de Alunos</a></button>
    <button type="button" class="btn btn-success"><a onclick="window.location.href = '/newAlun';">Cadastrar Novo Aluno</a></button>
  </body>
</html>
